/* Basic editor styles */
/* styles/editor.css */

/* Basic editor styles */
.ProseMirror {
  @apply p-5 w-full bg-white;
}

.ProseMirror:focus {
  @apply outline-none;
}

.dark .ProseMirror {
  background-color: var(--background);
  color: var(--foreground);
}
/* Heading styles */
.ProseMirror h1 {
  @apply text-3xl font-bold mb-4;
}

.ProseMirror h2 {
  @apply text-2xl font-semibold mb-4;
}

.ProseMirror h3 {
  @apply text-xl font-semibold;
}

.ProseMirror h4 {
  @apply text-lg font-semibold;
}

.ProseMirror h5,
.ProseMirror h6 {
  @apply text-base font-semibold;
}

/* Other element styles */
.ProseMirror p {
  @apply mb-4;
}

.ProseMirror blockquote {
  @apply pl-4 border-l-2 border-gray-200;
}

.ProseMirror code {
  @apply bg-gray-200 text-gray-700;
}

.ProseMirror pre {
  @apply bg-black text-white font-mono p-3 rounded-md text-sm;
}

.ProseMirror img {
  @apply max-w-full h-auto;
}

.ProseMirror hr {
  @apply my-4;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply pl-4;
}
.ProseMirror h1.is-empty:nth-child(1)::before,
.ProseMirror p.is-empty:nth-child(2):last-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

h1.ce-header{
  @apply text-3xl font-bold
}
h2.ce-header{
  @apply text-2xl font-semibold
}
h3.ce-header{
  @apply text-xl font-semibold
}
h4.ce-header{
  @apply text-lg font-semibold
}
h5.ce-header{
  @apply text-base font-semibold
}
h6.ce-header{
  @apply text-base font-semibold
}
